<div class="text-center pad-20">
  <h3 translate>Thank you for shopping with us.</h3>
  <p class="lead" translate>Please check your email or <a [routerLink]="[ isLoggedIn ? '/orders/list' : '/' ]" style="font-weight: 600">Order history page</a> to get your shopping verification code to collect your products.</p>
  <hr>
  <p>
    <span translate>Have any problem?</span>&nbsp;<a href="/contact/us" translate>please contact with us</a>
  </p>
  <p class="lead">
    <a class="btn btn-primary btn-sm" href="/products/search" role="button" translate>Continue shopping</a>
  </p>
</div>