<div class="text-center">
  <h1 class="display-3" translate>Sorry</h1>
  <p class="lead" translate>Please check your payment method or try using some other bank card. Please reach out to our support team to get immediately help</p>
  <hr>
  <p>
    <span translate>Have any problem?</span>&nbsp;<a href="/contact/us" translate>please contact with us</a>
  </p>
  <p class="lead">
    <a class="btn btn-primary btn-sm" href="/products/search" role="button" translate>Continue shopping</a>
  </p>
</div>